html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}
.custom-scroll:hover {
   overflow-y: auto;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.slider-custom {
  width: '100%';
  position: relative;
}

.message-image {
  borderRadius: 10px;
  cursor: pointer;
}



@keyframes fade-background {
  from {background-color: rgba(37, 36, 37, 0.5)}
  to {background-color: inherit}
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

