
.image {
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.friendImage {
  border-radius: 10px;
  object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}